/* header */
body {
	background-color: #F6F8F9;
}
.header {
	width: 1440px;
	height: 50px;
	background-color: lightgray;
	padding-top: 12.5px;
	padding-left: 20px;
	font-size: 12px;
	position: fixed;
	z-index: 30;
}
.logo {
	width: 38px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	color: red;
	font-weight: bold;
}
.home {
	font-weight: bold;
}
.nav {
	margin-left: 92px;
	display: inline-block;
	vertical-align: middle;
}
.nav-li {
	margin-right: 28px;
	display: inline-block;
}
.girl-logo {
	width: 23px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
}

/* body */

/*section 1*/
.container {
	width: 1160px;
	height: 410px;
	padding-top: 75px;
	margin: 0 auto;
	margin-bottom: 80px;
}
.h2container1 {
	width: 1025px;
	margin-top: 25px;
	margin-bottom: 40px;
	font-weight: bold;
}
.block {
	width: 360px;
	height: 360px;
	background-color: white;
	display: inline-block;
	margin-right: 30px;
}
.image {
	position: relative;
}
.on-image {
	position: absolute;
	color: white;
	top: 28px;
	left: 40px;
}

.below-image {
	width: 300px;
	height: 38px;
	color: #A6ADB4;
	margin: 66px 40px 11px;
}
.clock {
	width: 16px;
	margin-right: 20px;
	margin-left: 40px;
	display: inline-block;
	vertical-align: middle;
}
.time {
	width: 50px;
	color: #A6ADB4;
	display: inline-block;
	vertical-align: middle;
}
.block3 {
	width: 360px;
	height: 360px;
	background-color: white;
	display: inline-block;
}

/* body - section2 */

.container2 {
	width: 1160px;
	height: 960px;
	padding-top: 75px;
	margin: 0 auto;
}
.h2container2 {
	width: 770px;
	height: 20px;
	font-weight: bold;
	margin-bottom: 40px;
}
.block2 {
	width: 1160px;
	height: 900px;
}
.block2-1 {
	width: 760px;
	height: 900px;
	margin-right: 35px;
	display: inline-block;
	vertical-align: top;
}
.center-image {
	width: 760px;
	position: relative;
	margin-bottom: 15px;
}
.image4 {
	width: 760px;
}
.center-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: darkblue;
	font-weight: 900;
}
.block2-2 {
	width: 360px;
	height: 900px;
	display: inline-block;
	vertical-align: top;
}
.image2 {
	margin-bottom: 50px;
}

/*  footer  */

.footer {
	width: 1440px;
	height: 200px;
	background-color: #A6ADB4;
	margin-top: 100px;
	font-size: 14px;
}
.cotainer-footer{
	width: 550px;
	height: 84px;
	display: inline-block;
	vertical-align: top;
	margin-top: 68px;
	margin-left: 142px;
	color: #CBD0D3;
}
.footer-logo {
	color: #FFFFFF;
	display: inline-block;
	margin-right: 89px;
	vertical-align: top;
}
.ul-footer {
	display: inline-block;
	margin-right: 70px;
	vertical-align: top;

}
.ul-footer2 {
	display: inline-block;
	margin-right: 70px;
	vertical-align: top;
}
.ul-footer3 {
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
}
.p-footer {
	width: 273px;
	height: 15px;
	margin-right: 60px;
	display: inline-block;
	vertical-align: top;
	margin-top: 68px;
	margin-bottom: 58px;
	margin-left: 40px;
	color: #CBD0D3;
}
.icons-footer {
	width: 150px;
	display: inline-block;
	height: 16px;
	vertical-align: top;
	margin: 68px;
}
.insta {
	width: 16px;
	margin-right: 15px;
	display: inline-block;
}